.wrapper {
  padding: 48px 40px;
}

.description {
  color: #222;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 160%; /* 25.6px */
}

.copy_right {
  color: #222;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  margin-top: 20px;
}
