.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}

.text_wrapper {
  width: 100%;
  padding: 0 40px;
  margin-bottom: 24px;
}

.title {
  color: #222;
  font-size: 25px;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 24px;
}

.address {
  color: #222;
  font-size: 18px;
  font-weight: 500;
  line-height: 160%;
}

.map_button_wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  background: #fafafa;
  width: 100%;
}

.bar {
  width: 1px;
  height: 22px;
  background: #e0e0e0;
}

.icon {
  margin-right: 8px;
}

.tmap,
.naver,
.kakao {
  display: flex;
  justify-content: center;
  padding: 17px;
}
