.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px 0 100px;
}

.content {
  width: 100%;
  padding: 0 40px;
}

.title {
  display: flex;
  align-items: center;

  color: #222;
  font-size: 16px;
  font-weight: 700;
  line-height: 160%;
  margin-bottom: 12px;
}

.gnb {
  width: 24px;
  height: 24px;
  background: rgba(255, 107, 240, 0.2);
  margin-right: 8px;
}

.section {
  color: #222;
  font-size: 18px;
  font-weight: 500;
  line-height: 160%; /* 28.8px */
}

.section + .section {
  margin-top: 32px;
}
